  body{
            padding: 50px;
            background-color: rgb(255, 255, 255);
            font-family: "Noto Serif JP", serif;
            font-weight: 500;
        }

       .center-title{
        text-align: center;
       }

       nav{
        text-align: center;
        margin-bottom: 100px;
       }

h1{
    color:rgb(0, 0, 0);
    margin-bottom: 16px;
    font-weight: 850;
}

h2{
    color:rgb(47, 0, 255);
    margin: top 24px;
    margin-bottom: 8px;
}

h3{
    color:rgba(9, 0, 139, 0.543);
    margin-top: 16px;
    margin-bottom: 4px;
}

p{
    font-size: 18px;
    margin-bottom: 16px;
    color: rgb(0, 0, 0);
}