 body{
            padding: 100px 200px;
            background-color: rgb(255, 255, 255);
            font-family: "Noto Serif JP", serif;
            font-weight: 500;
        }

.center-title{

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 60px;
    
       }

.logo{
        width: 32;
        height: 32;
       }

.chapter{
        text-align: center;
        margin-bottom: 50px;
       }

nav{
        text-align: center;
        margin-bottom: 80px;
       }

h1{
    color:rgb(0, 0, 0);
    margin-bottom: 16px;
    font-weight: 850;
}

h2{
    color:rgb(62, 62, 62);
    margin-top: 24px;
    margin-bottom: 20px;
    font-weight: 850;
}

h3{
    padding-left: 18px;
    color:rgb(0, 0, 0);
    margin-top: 16px;
    margin-bottom: 4px;
}

p{
    padding-left: 22px;
    font-size: 18px;
    margin-bottom: 16px;
    color: rgb(0, 0, 0);
}

.space-room {
  height: 100vh;        /* 画面一枚ぶんの空間 */
}

.nodes {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.wataame-nodes {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.wata-node {
  width: 18px;
  height: 18px;
  background: #bebebe;      /* ワタアメ初期の“無色の点” */
  border-radius: 50%;
}

